<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 1</title>
    <link rel="stylesheet" href="ques1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl1', function($scope) {
            $scope.evaluate = function() {
                $scope.eval = true;
                $scope.totalPercent = $scope.rent + $scope.accessories + $scope.emergency + $scope.savings;
                if ($scope.totalPercent <= 100) {
                    $scope.result_rent = "Room Rent: Rs." + ($scope.rent / 100) * $scope.amount;
                    $scope.result_accessories = "Accessories: Rs." + ($scope.accessories / 100) * $scope.amount;
                    $scope.result_emergency = "Emergency: Rs." + ($scope.emergency / 100) * $scope.amount;
                    $scope.result_savings = "Savings: Rs." + ($scope.savings / 100) * $scope.amount;
                }
                else if ($scope.totalPercent > 100){
                    window.alert("Percentage distribution is not done correctly");
                }
                else{
                    window.alert("Something went wrong");
                }
            }
        });
    </script>
</head>
<body>
    <h3 id="heading">Budget Calculator App</h3>
    <div class="my-form" ng-app="myApp" ng-controller="myCtrl1">
        <form>
            <h3>Amount to be Managed</h3><br>
            <input type="number" id="amount" ng-model="amount" required><br>
            <h3>How would you like to divide your money?</h3><br>
            <label for="rent">Room Rent(%): </label>
            <input type="number" name="rent" id="rent" ng-model="rent" required>
            <label for="accessories">Accessories(%): </label>
            <input type="number" name="accessories" id="accessories" ng-model="accessories" required>
            <label for="emergency">Emergency(%): </label>
            <input type="number" name="emergency" id="emergency" ng-model="emergency" required>
            <label for="savings">Savings(%): </label>
            <input type="number" name="savings" id="savings" ng-model="savings" required><br>
        </form><br>

        <button ng-model="eval" ng-click="evaluate()">Evaluate my Money</button>

        <br>
        <div ng-show="eval" class="output">
            <div id="result_rent" ng-bind="result_rent">{{result_rent}}</div>
            <div id="result_accessories" ng-bind="result_accessories">{{result_accessories}}</div>
            <div id="result_emergency" ng-bind="result_emergency">{{result_emergency}}</div>
            <div id="result_savings" ng-bind="result_savings">{{result_savings}}</div>
        </div>
    </div>
</body>
</html>