<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Registration Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", [])
        app.controller("myController", function($scope) {
            $scope.submitForm = function() {
                alert("Submitted!!!");
            }
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <div class="container">
        <h2>User Registration Form</h2>
        <form name="myForm" ng-submit="submitForm()">
            <label for="username">Full name : </label>
            <input type="text" name="username" class="inputbox" ng-pattern="/^[a-zA-Z ]*$/" placeholder="Enter Full name" required>
            <div style="color: red;">
                <div ng-show="myForm.username.$dirty && myForm.username.$error.required">Name is required.</div>
                <div ng-show="myForm.username.$dirty && myForm.username.$error.pattern">Name should not contain numbers or special characters.</div>
            </div>
        
            <label for="password">Password : </label>
            <input type="password" ng-model="password" name="password" class="inputbox" placeholder="Enter Password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/" required>
            <div style="color: red;" ng-show="myForm.email.$dirty && myForm.password.$invalid">
                <span ng-show="myForm.password.$dirty && myForm.password.$error.required">Password is required.</span>
                <span ng-show="!myForm.username.$valid">
                    Password must contain at least 1 uppercase, 1 lowercase and 1 number, and minimum 8 characters.
                </span>
            </div>

            <label for="age">Age : </label>
            <input type="number" ng-model="age" name="age" class="inputbox" placeholder="Age" required>
            <div style="color: red;">
                <span ng-show="myForm.age.$dirty && myForm.age.$error.required">Age is required.</span>
                <span ng-show="myForm.age.$dirty && (age < 18 || age > 30)">Age should be within 18 to 30.</span>
            </div>
            
            <label for="phno">Mobile Number : </label>
            <input type="number" ng-model="phno" name="phno" class="inputbox" ng-pattern="/^[7-9][0-9]{9}$/" placeholder="Ph.No." required>
            <div style="color: red;">
                <span ng-show="myForm.phno.$dirty && myForm.phno.$error.required">Mobile is required.</span>
                <span ng-show="myForm.phno.$error.pattern">Mobile number should start with 7, 8, 9 and maximum length of 10 digit.</span>
            </div>

            <label for="email">Email address : </label>
            <input type="email" ng-model="email" name="email" class="inputbox" placeholder="Email" required>
            <div style="color:rgb(255, 0, 0)" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Email is required.</span>
                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </div>

            <label for="password">Gender : </label><br>
            <input type="radio" class="gender" name="gender" required>Male
            <input type="radio" class="gender" name="gender" required>Female 
            <input type="radio" class="gender" name="gender" required>Other
            <div style="color: red;">
                <span ng-show="myForm.gender.$dirty && myForm.gender.$error.required">Gender is required.</span>
            </div>
            <br>

            <label for="state">State : </label>
            <select name="state" class="state" required>
                <option value=""></option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Telangana">Telangana</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
            </select>
            <div style="color: red;">
                <span ng-show="myForm.state.$error.required">State is required.</span>
            </div>
          
            <button type="submit" class="submit" ng-disabled="myForm.$invalid">Sunmit</button>
          </form>
    </div>
</body>
</html>